/* Minivox Default */

:root {
    --color1: #AAAAAA;
    /* background */
    /* color for table header */
    /* color for table rows (even) */

    --color2: #000000;
    /* primary text color */
    /* color for table text */

    --color3: #888888;
    /* article header background */
    /* background color for code blocks */
    /* background color for blockquotes */
    /* hr color */
    /* borders */
    /* color for table rows (odd) */

    --color4: #111199;
    /* secondary text color */
    /* text color in blockquotes */
    /* text color in code blocks */
    /* headers */
    /* color for shadows */
    /* checkbox color */
    /* links */
}